.bg-home-container{
    background-color: rgb(240, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto';
}
.logo{
    color: rgb(73, 63, 63);
}
.sub-bar-con{
    display: flex;
    gap: 20px;
    align-items: center;
}
.pay{
    font-weight: 600;
    cursor: pointer;
}
.home-cont{
    display: flex;
}
.main-heading{
    font-weight: bold;
    font-family: 'Roboto';
    color: rgb(46, 40, 40);
    font-size: 60px;
    margin-top: 0;
}
.one{
    color: rgb(224, 168, 64);
}
.moneyimg{
    height: 500px;
}
.para-home{
    font-weight: 600;
    font-size: 30px;
    color: rgb(153, 147, 147);
}
.rup{
    font-size: 25px;
}
.imgs-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont-desc{
    display: flex;
    align-items: center;
}
.icons{
    padding: 20px;
    border: none;
    border-radius: 35px;
    background-color: rgb(216, 200, 200);
    color: rgb(224, 168, 64);
    margin-right: 15px;
    font-size: 25px;
}
.desc-p{
    font-size: 18px;
}
.get-money-btn{
    padding: 20px;
    background-image: linear-gradient(to right, #ff5733, #f1c567);
    color: #fff;
    font-family: 'Roboto';
    font-size: 30px;
    border: none;
    border-radius: 20px;
    width: 300px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}
